@(outString: Html)(implicit request: RequestHeader, messages: Messages, pageMeta: PageMeta, wjAssets: WebJarAssets)
@layouts.basepage {
} {
<section class="form-group col-12" >
    <div class="columns small-12" id="content">
        <h1>@Messages("customerscontroller.customers.title")</h1>
        <form>
            <label>@Messages("customerscontroller.customers.form_name")</label><br>
            <input id="name"><br>
            <label>@Messages("customerscontroller.customers.form_lastname")</label><br>
            <input id="lastname"><br>
            <input type="submit" class="button button-default" title="Send"><br>
        </form>
    </div>
</section>

}